.container {
  background: whitesmoke;
  .box {
    box-shadow: 8px 8px 8px rgba($color: #000000, $alpha: 0.2),
      -8px -8px 8px white;
    clip-path: none;
    border-radius: 48% 46% 1% 53% / 2% 2% 42% 2%;
  }
  .box:before {
    background: whitesmoke;
    clip-path: none;
  }
}
