::-webkit-scrollbar {
  display: none;
}
$white: #fff;
$primary: #024a74;
$secondary: black;
$black: #242424;

.box {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background: url("../assets/backgrounds/concrete-texture.png");
  clip-path: polygon(0 0, 100% 2%, 96% 99%, 2% 100%);
  .title {
    text-transform: capitalize;
    text-align: center;
  }
  .contentx {
    height: 100%;
    width: 100%;
    overflow: auto;
    section {
      min-height: 100%;
      width: 100%;
      padding: 0;
      & > h2 {
        position: relative;
        top: -20px;
        left: -20px;
        width: 100%;
        padding: 20px;
        text-align: center;
        background: rgba($color: #000000, $alpha: 0.1);
        font-family: font5;
        font-size: 26px;
      }
      div {
        padding: 20px;
        text-align: center;
        font-size: 22px;
        font-family: font3;
      }
    }
    #profile {
      span {
        font-weight: bold;
        color: $primary;
      }
    }
    #work {
      $timeline: rgb(18, 32, 93);
      $timelineStops: rgb(2, 67, 187);
      $blockBorders: rgb(2, 98, 187);

      .timelineStops {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        background: $timelineStops;
        z-index: 2;
      }

      .timeline {
        position: relative;
        .block {
          margin-bottom: 15px;
          display: flex;
          .left,
          .right {
            flex: 1 1 50%;
            position: relative;
          }
          .left:after {
            @extend .timelineStops;
            width: 11px;
            right: -6px;
            top: 37px;
            height: 11px;
          }
          .right:before {
            @extend .timelineStops;
            width: 7px;
            left: -3px;
            top: 61px;
            height: 7px;
          }
          .left .card {
            text-align: center;
            border-left: 5px solid $blockBorders;
            h2 {
              font-size: 20px;
            }
            h4 {
              font-size: 14px;
            }
          }
          .right .card {
            margin-top: 30px;
            border-right: 5px solid $blockBorders;
            h3 {
              text-align: center;
              font-size: 12px;
            }
            p {
              font-size: 15px;
              font-family: font2;
            }
          }
          .card {
            padding: 5px;
            width: 80%;
            margin: 10px auto;
            background: $black;
            color: $white;
          }
        }
      }
      .timeline:after {
        content: "";
        position: absolute;
        width: 1px;
        background: $timeline;
        left: 50%;
        top: 0;
        bottom: 20px;
      }
    }
    #skills {
      div.skill-list {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 30px;
        align-items: center;
        justify-content: space-between;
        div.skill {
          margin: 10px 0;
          width: 28%;
          text-align: center;
          border: 1px solid $black;
          &:hover {
            background: $black;
            border: 1px solid $white;
            color: $white;
            transition: 0.8s;
          }
        }
      }
    }
    #contact {
      .social {
        margin: 0px auto;
        a i {
          color: $black;
          margin: 7px;
          font-size: 26px;
          transition: 0.5s;
          &:hover {
            color: $primary;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.spinner {
  font-size: 22px;
  position: absolute;
  bottom: 3%;
  right: 5%;
  z-index: 2;
  animation: spin 8s linear infinite;
}

@media screen and (max-width: 500px) {
  .box {
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    .content {
      padding: 10px 0;
      .content {
        .skills {
          flex-direction: column;
          margin: 10px;
          .item {
            flex: 1 1 auto;
            width: 80%;
            margin: 3px auto;
          }
        }
        .about {
          .timeline {
            .block {
              flex-direction: column;
              .left,
              .right {
                flex: 0 0 auto;
              }
              .left:after {
                right: 5px;
              }
              .right:before {
                right: 7px;
                left: auto;
              }
            }
          }
          .timeline:after {
            right: 10px;
            top: 0;
            left: auto;
          }
        }
      }
    }
  }
  .spinner {
    bottom: 6px;
    right: 2px;
  }
}
