@import "../theme.scss";

::-webkit-scrollbar {
  display: none;
}

.box {
  box-sizing: border-box;
  padding: 20px 0 40px 0;
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  clip-path: polygon(0 0, 100% 2%, 96% 99%, 2% 100%);
  z-index: 2;
  .content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    section {
      min-height: 100%;
      width: 100%;
      padding: 0;
      & > h2 {
        position: relative;
        top: -20px;
        left: -20px;
        width: 100%;
        padding: 20px;
        text-align: center;
        // background: rgba($color: #272727, $alpha: 0.9);
        font-family: font1;
        text-decoration: overline;
        font-size: 30px;
      }
      & > div {
        padding: 20px;
        text-align: center;
        font-size: 26px;
        font-family: font4;
      }
    }
    #profile {
      .text {
        width: 70%;
        margin: 0 auto;
        span {
          font-weight: bold;
          color: $black;
          white-space: nowrap;
          padding: 0 1px;
          position: relative;
          &:after {
            position: absolute;
            top: 50%;
            content: "";
            left: 0;
            transform: translateY(-50%);
            height: 70%;
            width: 100%;
            z-index: -1;
            background: lightgreen;
          }
        }
        .icon {
          font-size: 70%;
          position: relative;
          bottom: 2px;
        }
      }
    }
    #work {
      .timelineStops {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        background: $timelineStops;
        z-index: 2;
      }

      .timeline {
        position: relative;
        .block {
          margin-bottom: 15px;
          display: flex;
          .left,
          .right {
            flex: 1 1 50%;
            position: relative;
            font-family: font7;
          }
          .left:after {
            @extend .timelineStops;
            width: 11px;
            right: -6px;
            top: 37px;
            height: 11px;
          }
          .right:before {
            @extend .timelineStops;
            width: 7px;
            left: -3px;
            top: 61px;
            height: 7px;
          }
          .left .card {
            text-align: center;
            border-left: 5px solid $blockBorders;
            h3 {
              font-size: 18px;
            }
            h5 {
              font-size: 14px;
              color: rgb(255, 186, 59);
            }
          }
          .right .card {
            margin-top: 30px;
            border-right: 5px solid $blockBorders;
            h3 {
              text-align: center;
              font-size: 18px;
              margin: 10px;
            }
            ul li {
              font-size: 15px;
              text-align: justify;
              padding-right: 20px;
            }
          }
          .card {
            padding: 5px;
            width: 80%;
            margin: 10px auto;
            background: $black;
            color: $white;
          }
        }
      }
      .timeline:after {
        content: "";
        position: absolute;
        width: 1px;
        background: $timeline;
        left: 50%;
        top: 0;
        bottom: 20px;
      }
    }
    #skills {
      div.skill-list {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        div.skill {
          margin: 4px 0;
          width: 23%;
          height: 66px;
          box-sizing: border-box;
          overflow-y: auto;
          text-align: center;
          border: 3px solid $black;
          padding: 15px 0;
          &:hover {
            background: $black;
            color: $white;
            transition: 0.8s;
          }
        }
      }
    }
    #contact {
      p {
        margin: 0;
        font-weight: bold;
        font-size: 2rem;
      }
      div.social {
        margin: 0px auto;
        a i {
          color: $black;
          margin: 10px;
          font-size: 28px;
          font-weight: bold;
          transition: 0.5s;
          &:hover {
            color: $primary;
            transform: scale(1.5);
          }
        }
      }
      .website {
        a {
          text-decoration: none;
          font-weight: bold;
          position: relative;
          color: $black;
          &:after {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 15px;
            width: 105%;
            height: 100%;
            opacity: 0.5;
            z-index: -1;
            background: rgb(107, 107, 107);
          }
        }
      }
    }
  }
}
.box::before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../assets/backgrounds/funky-lines.png");
}

.spinner {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 2%;
  right: 4.5%;
  z-index: 2;
  color: $black;
  animation: spin 8s linear infinite;
}

@media screen and (max-width: 500px) {
  .box {
    height: 98%;
    width: 86%;
    right: 1%;
    .content {
      section {
        min-height: 50%;
      }
      #work {
        .timeline {
          padding: 0;
          margin-bottom: 40px;
          .block {
            padding: 0;
            flex-direction: column;
            .left,
            .right {
              flex: 0 0 auto;
              padding: 0;
            }
            .right .card {
              margin-top: 0;
            }
            .left:after {
              left: 5px;
            }
            .right:before {
              left: 7px;
            }
          }
        }
        .timeline:after {
          top: 0;
          left: 10px;
        }
      }
      #skills {
        div.skill-list {
          flex-direction: column;
          margin: 10px;
          div.skill {
            flex: 1 1 auto;
            width: 85%;
            margin: 3px auto;
          }
        }
      }
    }
  }
  .spinner {
    bottom: 15px;
    right: 25px;
  }
}
