@import "./global.scss";

.box-container {
  max-height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;

  .box {
    max-width: 800px;
    margin: 0 auto;
    section {
      min-height: 100vh;
      width: 100%;
      padding: 20% 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

#about {
  .intro {
    margin: 0;
    p {
      line-height: 150%;
      font-size: 1.4rem;
      @include font-weight();
    }
    p.basic {
      font-size: 2.4rem;
    }

    p.current-employer {
      font-size: 1.8rem;
    }

    .highlight {
      white-space: nowrap;
      padding: 0 4px;
      background: $cdGreen;
      border-radius: 2px;
      margin: 0 2px;
      @include font-weight("bold");
    }
  }
}

#timeline {
  .timeline {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    .timeline-block {
      padding-bottom: 40px;
      padding-left: 24px;
    }
    .timeline-card {
      position: relative;
      padding: 28px 16px;
      h3 {
        font-size: 1.2rem;
        span.location {
          font-size: 1rem;
          color: $charcoal;
          padding-left: 4px;
        }
      }
      .tagline {
        font-size: 0.9rem;
        line-height: 1.3rem;
        color: $steel;
      }
      h5.sub-title {
        font-size: 0.8rem;
      }
      h5.date {
        font-size: 0.8rem;
      }
      .work-description {
        .description-title {
          font-size: 1rem;
          text-align: left;
          text-decoration: underline;
          @include font-weight("semi-bold");
        }
        .description-container {
          margin-top: 8px;
          padding-left: 24px;
          .description-item {
            font-size: 1rem;
            @include font-weight("medium");
          }
        }
      }
      .expand-icon {
        position: absolute;
        bottom: 6px;
        right: 6px;
        cursor: pointer;
      }
    }
  }
}

#side-projects {
  div.project-group {
    & > h3 {
      margin-bottom: 20px;
      text-align: left;
    }
  }
  div.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    div.project-item {
      display: flex;
      padding: 30px 8px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 320px;
      border: 2px solid $bar;
      border-radius: 2px;
      position: relative;
      // .logo {
      //   max-width: 28px;
      //   position: absolute;
      //   left: 4px;
      //   top: 4px;
      // }
      .name {
        font-size: 1.4rem;
        margin-bottom: 12px;
        @include font-weight("bold");
      }
      .tagline {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 28px;
        color: $iron;
        @include font-weight("semi-bold");
      }
      .release-date {
        position: absolute;
        bottom: 8px;
        left: 8px;
        font-size: 10px;
      }
      .links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        a {
          font-size: 0.8rem;
          text-decoration: none;
          margin: 0 4px;
          color: $blue;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .button {
        font-size: 0.8rem;
        padding: 16px 24px;
        // font-family: font2;
      }
      // .social-links-container {
      //   display: grid;
      //   grid-auto-flow: column;
      //   grid-column-gap: 8px;
      //   margin-top: 20px;
      //   i {
      //     color: $bar;
      //     font-size: 16px;
      //   }
      // }
      // .status {
      //   position: absolute;
      //   bottom: 6px;
      //   left: 6px;
      //   color: $bar;
      //   font-size: 0.8rem;
      // }
      // .custom-messages {
      //   position: absolute;
      //   bottom: 6px;
      //   right: 6px;
      //   font-size: 0.8rem;
      // }

      // &:hover {
      //   background: $strokeOne;
      //   transition: 0.4s;
      // }
    }
  }
}

#articles {
  .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .link {
      // text-align: center;
      text-decoration: none;
      padding: 8px;
      color: $watermelon;
      transition: 0.4s;
      border-radius: 2px;
      @include font-weight("bold");
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
  }
}

#tech {
  div.skill-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    gap: 10px;
    justify-content: center;
    div.skill {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      padding: 8px;
      height: 90px;
      border: 3px solid $bar;
      font-size: 1.2rem;
      @include font-weight("bold");
      &:hover {
        background: $bar;
        color: $white;
        transition: 0.4s;
      }
    }
  }
}

#contact {
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
    // @include text-shadow($steel);
    @include font-weight("bold");
    &:hover {
      transition: 0.4s;
      opacity: 0.8;
    }
  }
  div.social-icons {
    display: flex;
    gap: 12px;
    a i {
      color: $white;
      font-size: 1.6rem;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  // .website {
  //   margin-top: 30px;
  //   a {
  //     text-decoration: none;
  //     position: relative;
  //     color: $bar;
  //     z-index: 0;
  //     &:after {
  //       content: "";
  //       position: absolute;
  //       bottom: 2px;
  //       left: 15px;
  //       width: 104%;
  //       height: 102%;
  //       opacity: 0.5;
  //       z-index: -1;
  //       background: $yellow;
  //     }
  //     // &:after:hover {
  //     //   opacity: 0.1;
  //     //   background: blue;
  //     // }
  //   }
  // }
}

.spinner {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  bottom: 2%;
  right: 4.5%;
  z-index: 2;
  color: $bar;
  animation: spin 8s linear infinite;
}

/* Themes start */
/* Themes start */
// .particles-theme .box {
//   &::before {
//     background: rgba($bar, 0.6);
//     backdrop-filter: blur(5px);
//   }
// }

// .custom-particles-theme .box {
//   &::before {
//     background: rgba($feather, 0.2);
//     backdrop-filter: blur(5px);
//   }
// }

.neo-theme .box {
  #timeline {
    .timeline {
      .timeline-card {
        @include neo-shadow;
        background: $strokeOne;
      }
    }
  }
  #side-projects {
    .project-list .project-item {
      @include neo-shadow;
      .button {
        @include neo-shadow(4px);
      }
    }
  }
  #tech {
    div.skill-list {
      div.skill {
        @include neo-shadow(4px);
        background: $strokeOne;
        color: $steel;
        &.highlight {
          color: $bar;
          background: none;
        }
      }
    }
  }
  #contact {
    .email:hover {
      // @include text-shadow();
      color: $bar;
    }
    div.social-icons {
      a i {
        color: $charcoal;
        font-size: 22px;
        &:hover {
          color: $iron;
        }
      }
    }
  }
}

.dark-night-theme .box {
  $colorList: 0 $blue, 1 $yellow, 2 $orange, 3 $watermelon;

  @each $index, $color in $colorList {
    .color-#{$index} {
      color: $color;
    }
    .bg-#{$index} {
      background: $color;
    }
    .border-#{$index} {
      border-color: $color;
    }
  }

  color: $feather;
  #about {
    .intro {
      .highlight {
        color: $feather;
      }
    }
  }
  #timeline {
    .timeline {
      .timeline-block {
        border-left-color: $white;
        &:last-child {
          border-left-color: transparent;
        }
      }
      .timeline-card {
        border: 2px solid $cdGreen;
        border-radius: 2px;
        color: $white;
        background: rgba($cdGreen, 0.08);
        box-shadow: 0px 0px 10px $cdGreen;
        span.location {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }
    }
  }
  #side-projects {
    .project-list .project-item {
      border-color: $blue;
      box-shadow: 0 0 8px $blue;
      background: rgba($blue, 0.01);
    }
  }
  #tech {
    div.skill-list {
      div.skill {
        border-color: $iron;
        background: $iron;
        color: $bar;
        &:hover {
          opacity: 0.8;
        }
        &.highlight {
          background: $yellow;
          border-color: $yellow;
        }
      }
    }
  }

  #contact {
    div.contact-details {
      div.social a i {
        color: $strokeTwo;
      }
      .email {
        color: $iron;
      }
      .website a {
        color: $feather;
        &:after {
          background: $blue;
          opacity: 1;
        }
      }
    }
  }
}

/* Themes end */

@media screen and (max-width: 600px) {
  .box {
    section {
      padding: 20px 16px;
    }
    #about {
      padding: 20px;
      min-height: 80%;
    }
    #timeline {
      .timeline {
        width: 90%;
        .timeline-block {
          padding-bottom: 20px;
        }
      }
    }
    #side-projects {
      div.project-list {
        grid-template-columns: 1fr;
        .project-item {
          padding: 16px 8px;
          height: 160px;
          .name {
            margin-bottom: 4px;
          }
          .tagline,
          .links-container {
            margin-bottom: 10px;
          }
        }
      }
    }
    #tech {
      div.skill-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .skill {
          height: 80px;
          font-size: 1rem;
        }
      }
    }
    #contact {
      .contact-details {
        .email {
          font-size: 1.6rem;
        }
      }
    }
  }
  .spinner {
    bottom: 15px;
    right: 25px;
  }
}
