@import "@codedrops/react-ui/dist/styles/colors.scss";

@mixin font-weight($weight: "regular") {
  @if $weight == "semi-bold" {
    font-weight: 600;
  } @else if $weight == "bold" {
    font-weight: 700;
  } @else {
    font-weight: 500;
  }
}

@mixin text-shadow($color: $iron) {
  text-shadow: 2px 2px $color;
}

@mixin neo-shadow($size: 8px) {
  $negativeSize: -$size;
  box-shadow: $size $size $size rgba($color: $bar, $alpha: 0.2),
    $negativeSize $negativeSize $size $white;
  border: none;
}
