.icon {
  font-size: 16px;
  font-family: font5;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 5px;
  margin: 30px 0;
  transform: rotate(-90deg);
  transition: 0.8s;
  padding: 7px;
  cursor: pointer;
  display: inline-block;
  background: rgba($color: rgb(121, 121, 121), $alpha: 0.8);
  &:hover {
    background: rgb(222, 225, 226);
    transform: scale(1.2) rotate(-70deg);
    color: rgb(44, 43, 43);
    text-decoration: overline;
  }
}