@import "@codedrops/react-ui/dist/styles/colors.scss";

@mixin active-link {
  content: "";
  display: block;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 4px;
  right: 0;
  background: $yellow;
}

nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 50px;
  background: url("../assets/backgrounds/stressed_linen.png");
  align-items: center;
  justify-content: center;
  .item {
    font-family: font3;
    text-decoration: none;
    color: $white;
    text-align: center;
    margin: 40px 0;
    transform: rotate(-90deg);
    transition: 0.8s;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
    width: max-content;
    &:hover,
    .active-link {
      transform: scale(1.2) rotate(-80deg);
    }
    &:after {
      content: "";
      width: 0;
      transition: 0.7s;
    }

    &:hover:after {
      @include active-link;
    }
  }
  .item.active-link:after {
    @include active-link;
  }
}

@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    height: auto;
    flex-direction: row;
    background: none;
    padding-top: 8px;
    .item {
      transform: none;
      position: relative;
      color: $bar;
      margin: 0;
      padding: 4px;
      font-size: 12px;
      &:hover,
      .active-link {
        transform: scale(1.1) rotate(0deg);
      }
    }
  }
  .dark-night-theme,
  .custom-particles-theme {
    nav .item {
      color: $feather;
    }
  }
}
