@import "@codedrops/react-ui/dist/styles/colors.scss";

@mixin active-link {
  content: "";
  display: block;
  height: 7px;
  width: 50%;
  position: absolute;
  bottom: 9px;
  right: 0;
  background: $yellow;
}

nav {
  .item {
    font-family: font3;
    text-decoration: none;
    font-weight: bold;
    color: $white;
    text-align: center;
    margin: 0 5px;
    margin: 30px 0;
    transform: rotate(-90deg);
    transition: 0.8s;
    padding: 7px;
    cursor: pointer;
    display: inline-block;
    &:hover,
    .active-link {
      transform: scale(1.2) rotate(-80deg);
    }
    &:after {
      content: "";
      width: 0;
      transition: 0.7s;
    }

    &:hover:after {
      @include active-link;
    }
  }
  .item.active-link:after {
    @include active-link;
  }
}
