@import "@codedrops/react-ui/dist/styles/colors.scss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: 2rem;
      animation: spin 0.9s infinite linear;
    }
    nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 50px;
      background: url("./assets/backgrounds/stressed_linen.png");
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    .theme-icon {
      position: absolute;
      bottom: 7px;
      right: 7px;
      padding: 5px;
      z-index: 999;
      font-size: 1.2rem;
      border-radius: 50%;
      background: $black;
      color: $white;
      cursor: pointer;
      transition: 1s;
      @media screen and (max-width: 500px) {
        display: none;
      }
      &:hover {
        transform: scale(1.2);
        background: $white;
        color: $black;
      }
    }
  }
}

.stacked-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;

  div:nth-child(1) {
    flex: 0.4;
    background: #f7f8f3;
  }
  div:nth-child(2) {
    flex: 1;
    background: #addcca;
  }
  div:nth-child(3) {
    flex: 1.6;
    background: #2c3d63;
  }
  div:nth-child(4) {
    flex: 2.2;
    background: #ff6f53;
  }
}

.custom-particles {
  position: "absolute";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1b1b1b;
}
