@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/defaults.scss";

html {
  font-size: 16px;
}

body {
  .app {
    .loader {
      font-size: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span.text {
        font-family: font1;
        color: $white;
        font-size: 1.2rem;
        padding-left: 6px;
      }
    }
    nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 50px;
      background: url("./assets/backgrounds/stressed_linen.png");
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    .theme-icon {
      position: absolute;
      bottom: 7px;
      right: 7px;
      padding: 5px;
      z-index: 999;
      font-size: 1.2rem;
      border-radius: 50%;
      background: $bar;
      color: $feather;
      cursor: pointer;
      transition: 0.4s;
      @media screen and (max-width: 500px) {
        display: none;
      }
      &:hover {
        transform: scale(1.2);
        background: $feather;
        color: $bar;
      }
    }
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  display: flex;
}

.stacked-theme .background {
  flex-direction: column;
  div:nth-child(1) {
    flex: 0.4;
    background: #f7f8f3;
  }
  div:nth-child(2) {
    flex: 1;
    background: #addcca;
  }
  div:nth-child(3) {
    flex: 1.6;
    background: #2c3d63;
  }
  div:nth-child(4) {
    flex: 2.2;
    background: #ff6f53;
  }
}

.custom-particles-theme .background {
  background: $bar;
}

.neo-theme .background {
  background: $bg;
}

.dark-night-theme .background {
  background: $bar;
}
