@import "@codedrops/react-ui/dist/styles/colors.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

.highlight {
  color: $black;
  white-space: nowrap;
  padding: 0 1px;
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    content: "";
    left: 0;
    transform: translateY(-50%);
    height: 70%;
    width: 100%;
    z-index: -1;
    background: $orange;
  }
}

@font-face {
  font-family: font1;
  src: url("./assets/fonts/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: font2;
  src: url("./assets/fonts/NanumPenScript-Regular.ttf");
}
@font-face {
  font-family: font3;
  src: url("./assets/fonts/Neucha-Regular.ttf");
}
@font-face {
  font-family: font4;
  src: url("./assets/fonts/LuckiestGuy-Regular.ttf");
}

/* Inter font */
// @font-face {
//   font-family: Inter-Bold;
//   src: url("./assets/fonts/Inter/Inter-Bold.woff");
// }

// @font-face {
//   font-family: Inter-Medium;
//   src: url("./assets/fonts/Inter/Inter-Medium.woff");
// }

// @font-face {
//   font-family: Inter-Regular;
//   src: url("./assets/fonts/Inter/Inter-Regular.woff");
// }

// @font-face {
//   font-family: Inter-SemiBold;
//   src: url("./assets/fonts/Inter/Inter-SemiBold.woff");
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
  margin: 10px;
}
h4 {
  margin: 5px;
  font-size: 0.8rem;
}
