body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 14px;
  font-size: 25px;
}
h2 {
  margin: 11px;
  font-size: 22px;
}
h3 {
  margin: 9px;
  font-size: 20px;
}
h4 {
  margin: 7px;
  font-size: 18px;
}
h5 {
  margin: 5px;
  font-size: 16px;
}
h6 {
  margin: 2px;
  font-size: 14px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: font1;
  src: url("./assets/fonts/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: font2;
  src: url("./assets/fonts/ArchitectsDaughter-Regular.ttf");
}
@font-face {
  font-family: font3;
  src: url("./assets/fonts/MajorMonoDisplay-Regular.ttf");
}
@font-face {
  font-family: font4;
  src: url("./assets/fonts/NanumPenScript-Regular.ttf");
}
@font-face {
  font-family: font5;
  src: url("./assets/fonts/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: font6;
  src: url("./assets/fonts/AnnieUseYourTelescope-Regular.ttf");
}
@font-face {
  font-family: font7;
  src: url("./assets/fonts/CoveredByYourGrace.ttf");
}
