@import "@codedrops/react-ui/dist/styles/colors.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: font1;
  src: url("./assets/fonts/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: font2;
  // src: url("./assets/fonts/Righteous/Righteous-Regular.ttf");
  // src: url("./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf");
  src: url("./assets/fonts/Concert_One/ConcertOne-Regular.ttf");
}
@font-face {
  font-family: font3;
  src: url("./assets/fonts/Concert_One/ConcertOne-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
  margin: 10px;
}
h4 {
  margin: 5px;
  font-size: 0.8rem;
}
