$black: #242424;
$white: #fff;

$background: rgb(36, 36, 36);

$primary: #4b8efb;
$secondary: rgb(27, 27, 27);

$timeline: #4b8efb;
$timelineStops: #4b8efb;
$blockBorders: #4b8efb;

$activeLink: #53d0ec;
