$black: #242424;
$white: #fff;

$background: rgb(36, 36, 36);

$primary: #154669;
$secondary: rgb(27, 27, 27);

$timeline: #154669;
$timelineStops: #154669;
$blockBorders: #154669;

$activeLink: #53d0ec;
